/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    padding : 0%;
    margin: 0%;
    box-sizing: border-box;

}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    max-width: 1440px;
    width: 95%;
    margin:auto;
    
}

.logo-booki {
    width: 61px;
    height: 19px;
    
    margin-top: 30px;
   }
   
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

.menu-style {
    padding: 18px 34px 0 34px;    
}

.menu-style a {
    color: black;
}

.menu-style :hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
    padding-top: 22px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: solid;    
}

h2 {
    font-weight: 700;
    font-size: 22px;
}

.lower-title {
    font-weight: 700;
    font-size: 18px;
}

.text-intro {
    padding: 30px 0px 30px 0px;
}

.p-police {
    font-weight: 400;
    font-size: 14
}

.formu-style {    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 20%;
    
    margin-bottom: 30px;    
}

.formu-logo { 
padding: 14px 18px 15px 18px; 

border: 1px solid var(--main-bg-color);  
border-radius: 15px 0px 0px 15px;

background-color: var(--main-bg-color);
color:black;
}

.formu-texte {
    font-weight: 700;
    font-size : 18px;
    text-align: center;

    border: 1px solid var(--main-bg-color);
    padding: 12px 0px 12px 0px;
}

.formu-texte, textarea {
    outline: none;
}

.formu-recherche {
    background-color: var(--main-color);
    color: white;  

    border: 1px solid var(--main-color);
    border-radius : 0px 15px 15px 0px;

    padding: 15px 16px 15px 16px;
}

.section-filtres-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    
    width: 55%;
    margin-bottom: 30px;
}

.filtre-title {
    display: flex;
    flex-direction: row;
}

.bloc-filtres {
    display: flex;
    align-items: center;    
    gap: 15px;

    width: 100%;
    padding-bottom: 30px;
}
.groupe-filtres {
    display: flex;
    align-items: center;
    gap: 15px;

    width: 100%;
}

.filtre {
    display: flex;
    align-items: center;

    width: fit-content;
    height: 50px;

    gap: 10px;
    padding: 4px 19px;
    

    border: 2px solid var(--main-bg-color);  
    border-radius: 25px;

    font-weight: 700;
    font-size: 17px;
}

.filtre :hover /*filtre-texte, .filtre :hover  filtre-icone*/ {
    background-color :var(--filter-bg-color);
}

/*
.text-filtre {
    display: flex;
    height: 50px;

    align-items: center;
    padding: /*0px 10px 0px 10px;
    background: transparent;
}


.filtre-icone {
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;

    background: transparent;
}

/*
.filtre-icone :hover {    
    border-radius: 25px;
}
*/

.info-filtre {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-info {
    display: flex;    
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    width: 24px;
    height: 24px;
    border-radius: 50% 50% 50% 50%;    

    border: 1px solid #D9d9d9;
}


.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;    
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    display: row;

    justify-content: space-between;
    gap: 40px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;    
    padding: 30px;
    
    }

.card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;    
}

.card-title {
    font-size: 16px;
    font-weight: 700;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements ***********/

.hebergements {
    width: 65%;
    height : 100%;
    margin-bottom: 30px;
}


.hebergements-cards {
    display: grid;
    grid-template-columns: 31% 31% 31%/*250px 250px 250px*/;
    /*abandon des valeurs absolues en px pour ajustement "width" du conteneur pour la compatibilité en media queries*/
    grid-template-rows: /*47% 47%*/207px 207px;

    column-gap: 30px;
    row-gap: 30px;   
    
    padding: 30px 0px 30px 0px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hebergements-cards img {
    background-size: cover;

    width: 100%;
    height: 125px;

    border: 5px solid white;
    border-radius: 20px 20px 0px 0px;
}

.hebergements-cards .card-content {
    padding-top: 4px;
    padding-left: 15px;
    align-items: center;
}

.hebergements-cards .card-rating {
    padding: 8px 0px 15px 15px;
}

.hebergements-cards .card-rating i {
    font-size: 0.82em;
}

/****** Populaires ***********/
.populaires {
    width: 35%;
    margin-bottom: 30px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 30px;
}

.populaires-cards img {
    width: 33%;
    height: 144px;

    border: 5px solid white;
    border-right-width: 0px;
    border-radius: 20px 0px 0px 20px;
    
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.populaires-cards .card-rating i {
font-size: 0.68em;
}

/****** Activités Marseilles ***********/

.activites-marseilles {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.activites-photos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;

    width: 98%;
    padding-top: 30px;    
}

.activite-card {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 380px;

    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    background-color: white;
}

.activite-card img {
    background-size: cover;

    width: 100%;
    height: 85%;

    border-radius: 20px 20px 0px 0px;
}

.activite-card .card-title {
    align-items: center;
    padding : 20px 19px 0px 19px;
}

/****** Footer ***********/

footer {
    background-color: var(--main-bg-color);
    margin-top: 65px;
}


.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;

    width: 100%;   
    height: 11.3% 
}

.footer-bloc {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: start;

    margin: 20px;
}

.footer-bloc li {
    padding-top: 15px;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
  
@media (max-width: 1024px) {  
      
    .bloc-filtres {
        display: flex;
        flex-direction: column;
        align-items: start;    
        gap: 20px;
        width: 130%;
    }   

    .hebergements-and-populaires {
        flex-direction: column;
        gap: 50px;   
        margin-bottom: 0px; 
    }

    .hebergements {
        width: 100%;
        margin-bottom: 0px; 
    }

    .hebergements-cards  {
     width: 100%;
        
    }
    
    .populaires {
        width: 100%;
        margin-bottom: 65px; 
    }  
    
    .populaires-cards {
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 106%;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-marseilles {
        width: 95%;
    }

    .activite-card {         
        width: 100%;
        height: 270px;    
    }

    .activite-card img { 
        background-size: cover;   
        width: 100%;
        height: 200px;
    }

    .card-title {
        align-items: flex-start;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}